.cartfly__wrapper {
  width: 45rem;
  height: 100vh;
  background-color: rgb(235, 235, 238);
  position: fixed;
  padding-bottom: 5rem;
  top: 0;
  right: -45rem;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  overflow-y: scroll;
  box-shadow: 0 3px 1rem #000;

  &.active {
    right: 0;
  }

  .upper-section {
    background-color: white;
    padding-left: 3rem;
    padding-right: 2.7rem;
    padding-top: 2.9rem;
    .top-section {
      margin-bottom: 2rem;

      .icon {
        margin-left: auto;
        cursor: pointer;
      }

      h3 {
        font-family: $poppins-font;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 2rem;
        color: #1f1f1f;
      }

      .fire-icon {
        margin-right: 1.1rem;
      }

      .warning-text {
        font-family: $inter-font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #1f1f1f;
      }

      .congrats-text {
        font-family: $inter-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #1f1f1f;
        margin-top: 3rem;
        margin-bottom: 1.8rem;
      }
    }

    .items-section {
      margin-top: 2rem;
      padding-bottom: 3rem;

      hr {
        color: rgba(0, 0, 0, 0.3);
        height: 1px;
      }

      .each-item {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .img-section {
          height: 9rem;
          width: 9rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .desc-section {
          margin-left: 2rem;
          display: flex;
          flex-direction: column;
          font-family: $poppins-font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          .title {
            color: #1f1f1f;
            margin-bottom: 0.4rem;
          }
          .price {
            color: #535353;
          }

          .attributes {
            display: flex;
            margin-top: 0.7rem;
            .quantityButton {
              @include flexCenter();
              justify-content: space-around;
              background-color: #f1f1f1;
              min-width: 8rem;
              height: 3.4rem;
              margin-right: 1.5rem;
              & button {
                border: none;
                font-size: 20px;
                height: 100%;
              }

              .number {
                height: 100%;
                @include flexCenter();
              }
            }

            .delete {
              cursor: pointer;
              height: 3.4rem;
              @include flexCenter();
            }
          }
        }
      }
    }
  }

  .footer-section {
    padding-left: 5rem;
    padding-right: 4.9rem;

    .coupon-section {
      margin-top: 3rem;
    }

    .checkout-section {
      margin-top: 2rem;
      background-color: #ffff;

      .view-carts {
        font-family: $poppins-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        text-decoration-line: underline;
        padding-bottom: 3rem;
      }
    }
  }
}
