.container {
  .top_section {
    .progress-bar {
      width: 400px;
      margin: auto;
      margin-top: 10px;
    }
    h3 {
      font-family: $poppins-font;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 45px;
    }
    span {
      font-family: $inter-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .items_container {
    margin-top: 53px;

    .table-responsive {
      .table {
        thead th {
          font-size: 1.5rem;
          font-weight: 500;
          font-family: $poppins-font;
        }

        td {
          vertical-align: middle;
          font-family: $inter-font;
          font-size: 1.4rem;
          font-weight: 500;
        }

        .products {
          width: 52%;
          text-align: left;
        }
        .price {
          width: 18%;
          text-align: center;
        }
        .quantity {
          width: 17%;
          text-align: center;
          align-items: center;
        }
        .subtotal {
          width: 15%;
          text-align: right;
        }

        .cart-col1 {
          margin-top: 1.5rem;
          margin-bottom: 1.6rem;
          .item-image {
            height: 70px;
            width: 70px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-right: 2rem;
          }

          .item-desc {
            max-width: 40rem;

            .item-title {
              margin-bottom: 0.8rem;
            }

            .item-attributes {
              cursor: pointer;

              .remove {
                margin-left: 0.5rem;
                font-size: 1.2px;
              }
            }
          }
        }
      }
    }
  }

  .cart_footer {
    margin-top: 4rem;
    width: 100%;
    flex-wrap: wrap;

    .coupon_section {
      max-width: 400px;
      margin-bottom: 4rem;
    }

    .checkout_section {
      margin-left: auto;
      width: 35rem;
    }
  }
}

//cart summary section

.cart_summary_wrapper {
  width: 100%;
  .outline {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;

    .content {
      margin: 3rem;

      .discount {
        width: 100%;
        .left {
          color: #1f1f1f;
          text-align: left;
          width: 50%;
          font-family: $inter-font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
        }
        .right {
          text-align: right;
          color: #535353;
          width: 50%;
          font-family: $inter-font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .checkout_button {
        width: 100%;
        height: 4.3rem;
        background-color: black;
        color: white;
        margin-top: 20px;
        font-family: $poppins-font;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
      }

      .view-cart {
        font-family: $poppins-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        text-decoration-line: underline;
        padding-bottom: 3rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container .items_container .cart_footer .checkout_section {
    margin-left: 0;
    margin: auto;
  }

  .container .items_container .cart_footer .coupon_section {
    margin: auto;
    margin-bottom: 4rem;
  }

  .cart_footer .coupon_section .input_wrapper {
    width: 400px;
  }

  .cart_summary_wrapper .outline {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .cart_footer .coupon_section .input_wrapper {
    width: auto;
  }

  .cart_summary_wrapper .outline {
    width: auto;
  }
}
