.icon-holder {
  button {
    border-radius: 0.4rem;
    border: none;
    margin-right: 0.6rem;
    padding: 0.7rem;
    background-color: $tertiary-color;
    @include transition();

    &:hover,
    &:focus {
      color: white;
      background-color: $secondary-color;
    }
    &:active {
      color: white;
      background-color: $secondary-color;
    }
  }
}
