.coupon-component{
    .coupon_text {
        font-family: $inter-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 15px;
        color: #1f1f1f;
      }

      .input_wrapper {
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 2px;
        margin-top: 15px;
        height: 48px;
        width: 100%;
        input {
          border: none;
          flex-grow: 2;
          padding-left: 2rem;
        }

        input:focus {
          outline: none;
        }

        button {
          width: 40px;
          background-color: black;
          color: white;
        }
      }
}