.footer {
  background-color: $secondary-color;
  color: $footer-text-color;

  .footer-container {
    margin-top: 4rem;
    padding-top: 5rem;

    .topFooterSection {
      border-radius: 4px;
      border: 2px solid #fa4da3;
      padding: 50px 80px 50px 80px;
    }
  }
}

.topFooterText {
  h5 {
    font-weight: 600;
    font-size: 24px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: $footer-text-color;
  }
}

.footerEmailForm {
  position: relative !important;

  .footer-form {
    background-color: #0c0c0c !important;
    border: none !important;
    color: $footer-text-color !important;
    height: 54px !important;
    width: 451px !important;
    border-radius: 4px !important;
    margin-left: 3rem !important;
  }

  .footer-btn {
    position: absolute;
    right: 16%;
    color: #f44ca4 !important;
  }
}

.footer-text {
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $footer-text-color;
    text-decoration: none;
  }
}

.footer-topics {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin: 1.5rem 0 0 0;
}

.footer-links {
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $footer-text-color;
    text-decoration: none;
  }
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .footer-copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $footer-text-color;
    text-decoration: none;
  }

  a {
    line-height: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $footer-text-color;
    text-decoration: none;
  }
}
