.barButton {
  height: 48px;
  color: white;
  background: $secondary-color;
  width: 100%;
  @include transition();
  &:hover,
  &:focus {
    border: none;
    background: $primary-color;
  }
}
.secondary {
  float: right;
  width: 45%;
}
