.site-main-header{
  .navbar{
    font-size: 1.4rem;
    height: 8.4rem;
    display: flex;
    justify-content: space-between;
    .left-content{
      .navbar-brand {
        font-size: 1.9rem;
        font-weight: 600;
        margin-right: 0;
        @include respond(md){
          margin-right: 7rem;
        }
      }
      .location{
        font-size: 1.4rem;
        font-weight: 500;
        color: $secondary-color;
        padding: 0;
        // margin-right: 10rem;
        &:hover{
          color: $primary-color;
        }
      }
    }
    .center-content{
      margin: 0;
      @include respond(md){
        margin-left: 0.5rem;
      }
      .header-search {
        @include border();
        height: 4rem;
        width: 25rem;
        font-size: 1.2rem;
        @include respond(md){
          width: 45rem;
        }
        &__input {
          border: none;
          width: 100%;
          &:hover {
            outline: none;
          }
          &:focus {
            outline: none;
          }
          &::placeholder{
            padding: 0 0 0 1.4rem;
            font-size: 1.3rem;
            font-weight: 500;
            font-family: $inter-font;
            color: #9F9F9F;
          }
        }
        &__button {
          border: none;
          padding: 0;
          background-color: white;
          .search-icon{
            height: 1.8rem;
            width: 1.8rem;
            padding: 1rem;
            @include respond(md){
              padding: 1.1rem 2rem 1.1rem 0;

            }
          }
        }
      }
    }
    .right-content{
      .navbar-collapse{
        .right-nav {
          flex: auto;
          @include flexCenter();
          .nav-link {
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            padding: 0 1.4rem 0 1rem;
            color: $secondary-color;
            &:hover {
              color: $primary-color;
            }
            &:focus {
              color: $primary-color;
            }
            svg {
              margin-right: 0.8rem;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
      .navbar-toggler {
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        span{
          height: 2.4rem;
          width: 2.4rem;
        }
      }
    }
  }
}