.item-card {
  @include border();
  .thumbnail-wrap {
    position: relative;
    .thumbnail-img {
      overflow: hidden;
      img {
        transform: scale(1);
        @include transition();
      }
    }
    .item-card__hover {
      @include transition();
      opacity: 1;
      position: absolute;
      border-radius: 50%;
      background-color: #e9ecef;
      right: 0;
      top: 0;
      display: none;
    }
    .item-card__offer__sale {
      position: absolute;
      top: -1rem;
      right: -0.7rem;
      background: #f52525;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      padding: 0.25rem 1.36rem;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        border-right: 1rem solid #660606;
        border-left: 1rem solid transparent;
        border-top: 1rem solid transparent;
      }
    }
    .brand-logo {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }
  }
  .item-card-content {
    padding: 1.5rem 1.2rem;
  }
  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #101113;
    margin-bottom: 0.5rem;
  }
  &__shop {
    font-family: $inter-font;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #5c5f66;
  }
  &__price {
    font-family: $inter-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 0.3rem;
    line-height: 1.9rem;

    color: #101113;
  }
  &__icon {
    @include flexCenter();
    @include transition();
    background-color: #101113;
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
  }
  &__icon:hover,
  &__icon:focus {
    background-color: $primary-color;
  }
}
