//login layout

.login-layout__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;

  .login-page__left {
    width: 45%;

    height: 100%;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;

    img {
      object-fit: cover;
    }
  }
  .login-page__right {
    width: 55%;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    min-height: 100vh;

    .top-text {
      text-align: right;
      margin-top: 2.9rem;
      margin-right: 5.1rem;
      font-weight: 500;
      font-size: 1.3rem;
      font-family: $inter-font;

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;

      .create-link {
        color: #797979;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

//login component

.login-total__wrapper {
  width: 45rem;
  padding: 5rem 0;

  .welcome-text {
    font-family: $inter-font;
    font-size: 1.3rem;
    font-weight: 400;
    color: #797979;
  }

  .login-text {
    font-family: $poppins-font;
    font-weight: 600;
    font-size: 2.3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
}

.login__wrapper {
  .forget-password-text {
    font-family: $inter-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3.3rem;
  }

  .horLine {
    overflow: hidden;
    text-align: center;
    margin-top: 3.1rem;
  }

  .horLine:before,
  .horLine:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .horLine:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .horLine:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

@media screen and (max-width: 992px) {
  .login-layout__wrapper .login-page__right {
    margin: auto;
  }
}

@media screen and (max-width: 862px) {
  .login-layout__wrapper .login-page__left {
    display: none;
  }

  .login-layout__wrapper .login-page__right {
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .login-total__wrapper {
    margin: 2rem;
  }
}
