.site-navigation {
    background-color: #1F1F1F;
    .navbar{
        .left-content{
            .nav-item {
              .nav-link {
                color: white;
                padding: 1.4rem 2rem;
                background: $primary-color;
                text-transform: uppercase;
              }
              .dropdown-menu {
                padding: 0;
                  .dropdown-item {
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-family: $inter-font;
                    background-color: #FFF;
                    color: #1F1F1F;
                    padding: 1.4rem 3.4rem;
                    &:hover{
                        color: $primary-color;
                    }
                }
                width: 32.2rem;
              }
              &:hover .dropdown-menu {
                display: block;
              }
            }
        }
        .center-content{
            .navbar-collapse{
                .nav-link{
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 1.4rem;
                    font-weight: 600;
                    font-family: $inter-font;
                    padding: 0.4rem 0;
                    a {
                        &:focus {
                            color: $primary-color;
                        }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        border-bottom: 0.2rem solid #FFF;
                        @include transition();
                    }
                    &:hover {
                        &:before {
                            width: 75%;
                        }
                    }
                    

                }
            }
        }
        .right-content{
            .cart{
                color: white;
                margin: 0 2rem;
                position: relative;
                display: inline-block;
                .badge{
                    position: absolute;
                    top: -0.4rem;
                    right: -0.8rem;
                    padding: 0.2rem 0.4rem;
                    font-size: 1.2rem;
                    border-radius: 50%;
                    background: $primary-color;
                    color: white;
                }
            }
        }
    }
    .navbar-collapse{
    }
    .container .navbar-nav {
      .dropdown-menu {
        left: 4%;
        width: 32.2rem;
        padding: 1.6rem;
        .dropdown-item {
          padding: 2.1rem;
          font-family: $inter-font;
          font-weight: 500;
          font-size: 1.4rem;
          color: $secondary-color;
        }
      }
    }
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .breadcrumb {
    font-family: $inter-font;
    font-size: 1.3rem;
    color: #797979;
    padding-top: 3.4rem;
    padding-left: 0.5rem;
    margin-bottom: 4rem;
  }