.orderSummary {
  padding-left: 0;
  @include respond(md) {
    padding-left: 9.4rem;
  }
  @include respond(lg) {
    padding-left: 21.4rem;
  }

  &__image {
    height: 7.5rem;
    min-width: 7rem;
    @include flexCenter();
    @include border();
    margin-right: 2rem;
  }
  &__desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include border();
  }
  &__coupon {
    font-family: $inter-font;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &__total {
    font-family: $inter-font;
    font-weight: 600;
    font-size: 1.6rem;
    color: $primary-color;
  }
  span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    color: #535353;
  }
}
