.product {
  padding: 2rem;
  @include respond(md) {
    padding-left: 9.4rem;
  }
  @include respond(lg) {
    padding-left: 7.4rem;
  }
  &__price {
    font-weight: 500;
    font-size: 2.2rem;
  }
  &__rating {
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondary-color;
  }
  &__description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding-top: 1rem;
    svg {
      margin-right: 0.8rem;
    }
    a {
      padding-right: 2.8rem;
    }
  }
  &__container {
    font-weight: 600;
    font-size: 1.4rem;
    &__color {
      border-radius: 50%;
      margin-right: 1.7rem;
      width: 4.4rem;
      height: 4.4rem;
      background-color: $secondary-color;
    }
    &__sizes {
      @include flexCenter();
      margin-right: 1rem;
      border-radius: 50%;
      width: 4.4rem;
      height: 4.4rem;
      @include border();
    }
    &__button {
      border: none;
      color: $secondary-color;
      font-weight: 500;
      height: 48px;
      width: 73%;
    }
  }
}

.soldBy {
  font-weight: 500;
  color: #535353;
  button {
    height: 3.2rem;
    color: white;
    background: #1f1f1f;
    width: 22%;
    font-size: 1.2rem;
  }
}
.tab {
  margin-top: 6rem;
  @include border();
  .nav-item {
    .nav-link {
      margin: 0rem 7rem 0rem 0rem;
      padding-top: 0px;
      padding-bottom: 1.4rem;
      border-top: none;
      border-left: none;
      border-right: none;
      font-weight: 500;
      font-size: 1.6rem;
      color: #1f1f1f;
    }
    .active {
      border-bottom: 0.2rem solid #1f1f1f;
    }
  }
}
.tab-content {
  padding: 3rem;
}
