.wishListButton {
  @include flexCenter();
  @include transition();
  @include border();
  cursor: pointer;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  bottom: 2rem;
  &:hover {
    color: white;
    background-color: $primary-color;
  }
  &:focus {
    color: white;
    background-color: $primary-color;
  }
}
