html {
  font-size: 10px;
}

body {
  font-family: $poppins-font, 'Helvetica-Nue', 'helvetica', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  color: $secondary-color;
  background: #fff;
}

a {
  color: $secondary-color;
  text-decoration: none;
  @include transition();

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary-color;
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
  position: relative;
  font-weight: 700;
}

h1 {
  font-size: 2.6rem;

  @include respond(lg) {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2rem;
  color: $secondary-color;
  font-family: $poppins-font;
  font-weight: 600;
  margin-bottom: 3.3rem;

  @include respond(md) {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: $poppins-font;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: 0em;
  text-align: left;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  color: $secondary-color;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

p {
  line-height: 2.7rem;
  font-weight: 500;
  font-family: $inter-font;
  color: $secondary-color;

  span {
    font-family: $inter-font;
    font-style: normal;
    font-weight: 500;
    color: #535353;
    padding-left: 0.8rem;
  }
}

p:empty {
  display: none;
}

ul,
ol,
figure,
address {
  margin: 0;
  padding: 0;
}

.form-label {
  font-size: 1.4rem;
  font-weight: 400;
  font-weight: 500;
  line-height: 21px;

  color: $secondary-color;
}

.asterisk {
  color: red;
}

.form-check-label {
  font-size: 1.4rem;
}
.form-group {
  margin-bottom: 1.5rem;
  position: relative;
  @include respond(md) {
    margin-bottom: 2.4rem;
  }
  a {
    font-family: $inter-font;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-decoration-line: underline;
    color: $primary-color;
  }
}

.form-control {
  background: #fff;
  @include border();
  box-shadow: none;
  height: 4.8rem;
  font-size: 1.6rem;
  padding: 0.6rem 1.8rem;
  position: relative;
  border-radius: 0.4rem;
  font-family: $inter-font;
  &:focus {
    outline: 0;
    box-shadow: none;
    outline-offset: 0;
    border-color: $primary-color;
  }
  &::-webkit-input-placeholder {
    color: $gray-text-color;
  }
}

textarea.form-control {
  height: 17.4rem;
  padding: 1.8rem;
  resize: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.multiRow {
  margin-top: 3rem;
  margin-bottom: 1rem;
  a {
    font-size: 1.3rem;
    color: $primary-color;
  }
}
