// Color variable
$primary-color: #24a19c;
$secondary-color: #1f1f1f;
$footer-text-color: rgba(255, 255, 255, 0.6);
$gray-background-color: #f1f1f1;
$tertiary-color: #ebebeb;
$gray-text-color: #afafaf;
$placeholder-color: #afafaf;

// Font Family
$inter-font: 'Inter';
$poppins-font: 'Poppins';

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
